---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Auide">
	<main>
		
		<h1>Hello Auide </h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique est deserunt fugit repellat cum exercitationem sint, eos doloremque blanditiis voluptatibus ducimus, reiciendis ipsam delectus magnam nulla neque nisi laboriosam. Rem?</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color:black;
		font-size: 20px;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	</style>
