<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Bring Your Museum to Life</h1>
    <p class="text-muted narrow">
      Enhance your visitors’ experience with our comprehensive audio guide
      solutions for museums bringing history to life with every word
    </p>
  </div>
  <div class="grid-sm"></div>
</header>
